<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CostaEduardo</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	<div class="container">
	<h3>Inserir novo veículo</h3>
	<form class="form-horizontal" action="/veiculo/inserir" method="post" th:object="${veiculo}">	
		<div class="row">
			<div class="form-group col-md-6">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('empresa')}">
					<label th:errors="*{empresa}" class="validation-message"></label>
				</div>
				<label>Empresa:</label>
				<input type="text" class="form-control" th:field="*{empresa}">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('modelo')}">
					<label th:errors="*{modelo}" class="validation-message"></label>
				</div>			
				<label>Modelo:</label>
				<input type="text"  class="form-control" th:field="*{modelo}">
			</div>
		</div>		
		<div class="row">
			<div class="form-group col-md-6">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('ano')}">
					<label th:errors="*{ano}" class="validation-message"></label>
				</div>			
				<label>Ano:</label>
				<input type="number"  class="form-control" th:field="*{ano}">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('peca')}">
					<label th:errors="*{peca}" class="validation-message"></label>
				</div>			
				<label>Peça:</label>
				<input type="text"  class="form-control" th:field="*{peca}">
			</div>
		</div>	
		<div class="row">
			<div class="form-group col-md-6">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('dataManutencao')}">
					<label th:errors="*{dataManutencao}" class="validation-message"></label>
				</div>				
				<label>Data da manutenção:</label>
				<input type="date" class="form-control" th:field="*{dataManutencao}">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('descricaoManutencao')}">
					<label th:errors="*{descricaoManutencao}" class="validation-message"></label>
				</div>			
				<label>Descrição da Manutenção:</label>
				<textarea type="text" rows="3" class="form-control" th:field="*{descricaoManutencao}"></textarea>
			</div>
		</div>							
		<button type="submit" class="btn btn-success">Salvar</button>
	</form>
		</div>
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>